## Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

## Playwright
playwright-report/
test-results/
trace.zip

## Environment
.env
.env.*

## OS files
.DS_Store
Thumbs.db

## IDEs
.vscode/
.idea/

## Logs
logs/
*.log

## Coverage
coverage/

## Misc
dist/
tmp/
build/
